::-webkit-scrollbar {
    display: none;
}
.form-bg{
    background-color: #e5532e2c;
}
.bg-login{
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/a781ce32751817.56929eefe4f71.jpg");
    background-size: cover;
    padding: 30px;
    margin-top: -45px;
    
    
}