.chef-image{
    margin-top: -20px;
    height: 190px;
    width: 190px;
    border-radius: 50%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.chef-card{
    width: 300px;
    margin: 0 auto;
    background-color: #e5532e11;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
